body {
    font-family: var(--font-family);
}

header {
    display: flex;
    justify-content: center;
}

li {
    position: relative;
    padding: 1em;
}

li button {
    position: absolute;
    transform: translate(-5em, 10em);
    padding: 10px 20px;
}

li h2 {
    font-size: 1em;
    font-weight: 600; 
}

li p {
    font-size: 0.8em;
    overflow: hidden;
    position: relative;
    line-height: 1em;
    max-width: 15em;
    max-height: 4em; 
    text-align: justify; 
    margin-right: -1em; 
  }

li p:after {
    content: '...';
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 1em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 48%);
  }